.project-container {
  max-width: 90%;
  margin: 4rem auto;
  padding: 0.5rem;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;

  img {
    width: 100%;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
  }

  h3 {
    font-size: $header2;
    padding: 1.8rem 0;
    font-weight: lighter;
  }

  p {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  span {
    font-size: 2rem;
    padding: 1.2rem;
    margin: 0.5rem;
    border: 2px solid #48d39f;
    border-radius: 10px;
    display: inline-block;
  }

  .live-demo {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;

    a {
      width: 140px;
      font-size: 2rem;
      padding: 0.8rem;
      margin: 0.5rem;
      background-color: #48d39f;
      color: #fff;
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.card {
  margin: 4rem auto;
  max-width: 550px;
}

.card-image:hover .live-demo {
  display: block;
}

.card-image {
  position: relative;

  .card-description {
    padding: 1rem;
  }

  .white_bg {
    background-color: #fff;
  }
}

@media (min-width: 1100px) {
  .project-container {
    min-width: 90%;
    grid-template-columns: repeat(2, 1fr);

    .live-demo {
      a {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1300px) {
  .project-container {
    min-width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}